<!DOCTYPE html>
<html lang="en">
<head>
    <meta>
    <meta>
    <meta>
</head>
<body>
    <!-- Lista estática de pesquisas a serem respondidas(futuramente servirá para pesquisas realmente realizadas). -->
        <ul id="aSeremRespondidas">
            <h4>Pesquisas À Serem Respondidas</h4>
            <li>Pesquisa Docentes 2022-1</li>
            <li>Pesquisa Docentes 2022-2</li>
            <li>Pesquisa Infraestrutura UFG 2022</li>
        </ul>
        {/*Lista estática de pesquisas*/}
        <ul id="emAndamento">
            <h4>Pesquisas Em Andamento</h4>
            <li>Pesquisa Retomada</li>
            <li>Pesquisa Preferência Local de Aulas</li>
        </ul>
    <!--- Lista estática de pesquisas realizadas(futuramente servirá para pesquisas realmente realizadas). -->
        <ul id="Respondidas">
            <h4>Pesquisas Respondidas</h4>
            <li>Pesquisa Docentes 2021-1</li>
            <li>Pesquisa Docentes 2021-2</li>
            <li>Pesquisa Infraestrutura UFG 2021</li>
            <li>Pesquisa Eleição DCE 2021</li>
            <li>Pesquisa Sobre Modelo EAD 2021</li>
        </ul>
</body>
</html>